.offerItem {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #F4EBDC;
  padding: 5px;
}

.active {
  border: 4px solid #F20808
}

.image {
  width: 190px;
  height: 190px;
  min-width: 190px;
  min-height: 190px;
  max-height: 190px;
  min-width: 190px;
  overflow: hidden;
  object-fit: contain;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}