.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 26px;

  .text {
    font-family: Playfair Display, serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    text-align: left;

    color:  #FFFFFF;
  }

  .select {
    position: absolute;
    top: 15px;
    right: 120px;
    visibility: hidden;
  }

}