.wrapper {
  display: flex;
  flex-direction: row;
}

.badge {
  font-family: Playfair Display, serif !important;
  font-size: 10px !important;
  font-weight: 900 !important;
  line-height: 13.33px !important;
  text-align: center !important;

  width: 100px !important;
  height: 28px !important;
  padding: 0 !important;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  overflow: hidden;
}

.popper {
  border: 1px solid #000000;
  border-radius: 15px;
  background: #03B2C24D;
  padding: 6px;

  display: flex;
  flex-direction: column;
  gap: 4px;
}