.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  gap: 55px;
  margin: 55px auto ;
}

.button {
  margin: 10px auto;
  background: #03B2C2;
  color: white;
  border-radius: 100px;
  padding: 7px 15px;
  border: none;

  min-height: 50px;
  min-width: 280px;

  font-family: Playfair Display, serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 39.99px;
  text-align: center;
}