.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.text {
  font-family: Playfair Display, serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 39.99px;
  text-align: left;
  color: black !important;
  text-decoration: none !important;
  cursor: pointer;
}
